# ===== General =====
*.log
*.tmp
*.temp
*.swp
.DS_Store
Thumbs.db

# ===== IDE =====
.idea/
.vscode/
*.iml
*.ipr
*.iws

# ===== Flutter / Dart =====
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# ===== Generated docs / symbols =====
**/doc/api/
app.*.symbols
app.*.map.json

# ===== Android =====
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/.cxx/
android/**/*.keystore
android/**/*.jks

# ===== iOS =====
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*

# ===== Xcode user files =====
ios/**/xcuserdata/
ios/**/DerivedData/
ios/**/*.pbxuser
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.perspectivev3

# ===== Misc =====
.svn/
.history/
.atom/
.swiftpm/

# Firebase
android/app/google-services.json
lib/firebase_options.dart